---
layout: base
---
    <div class="bb">
      <div class="row ">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              
              <div class="post-details">
               {{ content }}
                </div>
               <!--  <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div> -->
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row"><a href="#" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">上一页 </strong>
                     
                    </div></a><a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">下一页 </strong>
                      
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div></a></div>
      
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>

          <div class="widget categories">
           
          <!-- Widget [Tags Cloud Widget]-->
         
       
      </div>
    </div>
    <!-- Page Footer-->

 